<!-- website footer-->
<div id="footer">
    <p class="smallText"> 
        &copy 2023 team6Development                 
        <a style="float:right" href="contact"> Contact us </a>
    </p>
    
</div>