<!-- written by Owen Pringle -->

<!-- website footer-->
<div id="footer">
    <p class="smallText"> 
        &copy 2023 team6Development                 
        <a class="navItem" style="padding:0px; float:right" href="contact"> Contact us </a>
    </p>
</div>