<!-- website header -->
<link rel="stylesheet" href="templateStyle.css" />
<div id="header">
    <!--company name and a slogan-->
    <!-- TODO maybe come up with a logo to put here  -->
    <div id="brandHeader">
        <h1 style="margin:1vh; float:left;"> Travel Experts</h1>
        <h3 style="margin:1vh; float:left; "> travel anywhere!!! </h3>
        <img src="TELogo.png"/>
    </div>
    <!-- links to other pages -->
    <div id="navigationBar">
        <a class="navItem" href="contact"> Contact us </a>
        <a class="navItem" href="register"> Register here</a>
        <a class="navItem" href="packages"> Vacation Packages </a>
        <a class="navItem" href="aboutUs"> About Us </a>
    </div>
</div> 