<!-- written by Owen Pringle -->

<!-- website header -->
<div id="header">
    <!--company name and a slogan-->
    <div id="brandHeader">
        <a href="/"> <img class="headerLogo" src="../TELogo.png"/> </a>
        <h1 class="h" style="margin:1vh; float:left;"> Travel Experts</h1>
        <h3 class="h" style="margin:1vh; float:left; ">Travel Anywhere! </h3> 
        
    </div>
    <!-- links to other pages -->
    <div id="navigationBar">
        <a class="navItem" href="../contact"> Contact us </a>
        <a class="navItem" href="../register"> Register here</a>
        <a class="navItem" href="../packages"> Vacation Packages </a>
        <a class="navItem" href="../aboutUs"> About Us </a>
    </div>
</div> 