<!--Created By Mohsen, 404 page that is served on every possible incorrect URL-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="templateStyle.css" />

    <%- include('./partials/header'); %>   
    <div id="main">
    	<div class="Error">
        		<h1>Error 404</h1>
            <p>Page Not Found</p></br>
            <a class="homepage" href="/">Back to Homepage</a>
    	</div>
</div>

    <style>


body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.Error{
	  display: table-cell;
	  vertical-align: middle;
}

.Error h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;

}

.homepage{
  background-color: #316387;
  color: white;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
}
    </style>
</head>
<body>

<%- include('./partials/footer.ejs'); %>
</body>