<!--Created By Mohsen, 404 page that is served on every possible incorrect URL-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="templateStyle.css" />
    <link rel="stylesheet" href="indexStyle.css" />

    <%- include('./partials/header'); %>   
    <div id="main">
    	<div class="Error">
        		<h1>Error 404</h1>
            <p>Page Not Found</p></br>
            <a class="homepage" href="/">Back to Homepage</a>
    	</div>
</div>

    <style>
        #main{
            display: table;
            width: 100%;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>

<%- include('./partials/footer.ejs'); %>
</body>