<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="templateStyle.css" />
    <link rel="stylesheet" href="indexStyle.css" />
    <link rel="stylesheet" href="AboutpageStyles.css" />
</head>
<body>
    <%- include('./partials/header'); %>    
    <div class="heading">
        <h1>TravelExperts</h1>
        <p>State-of-the-art Traveling Experience</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="about.jpg">
            </div>
            <div class="about-content">
                <h2>We are TravelExperts and we love to travel!</h2>
                <p>We are a main online travel organization in Canada giving the best as far as a class can tell with 
                    the objective to be Canada's Travel Planner.
                    Through our site, www.Travelexperts.com, our versatile applications, and our other related stages, 
                    recreation, and business voyagers can investigate, explore, analyze costs and book an extensive 
                    variety of administrations taking into account their movement needs.</p><br />
                    <p>Since our origin in 1970, in excess of 7 million clients have utilized at least one of our exhaustive travel-related 
                        administrations, which incorporate local and global air ticketing, lodging appointments, homestays, occasion bundles,
                         transport ticketing, rail ticketing, exercises, and subordinate administrations. 
                        With more than 83,000 inns contracted crosswise over Canada, we are Canada's biggest stage for residential lodgings.</p><br />
                    <p>A solid and “believed” travel brand of Canada, our qualities incorporate a vast and faithful client base, a 
                        multi-channel stage for relaxation and business explorers, and a powerful portable 
                        eco-framework for a range of voyagers and providers.
                    A solid innovation stage intended to convey an abnormal state of adaptability and 
                    advancement and a prepared senior supervisory crew, including industry officials with profound 
                    roots in the movement business in Canada and abroad.</p>
                <a href="" class="read-more">Read More</a>
            </div>
        </section>
    </div>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>