<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
    <body>
      <style> 
        .agent {
            background-color: #274d69;
            color: aliceblue;
            line-height: 170%;
            padding: 50px;


        }
        table {
            width: 180%;
            
        }

      </style>
    

<table >
    <thread>

    </thread>
    |<h1> hello </h1>
    <tr class="agent">
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email </th>
        <th> Phone Number </th>

    </tr>
    
  
        
    <% agents.forEach(function(agent) { %>
        <tr class="agent">
        <td class="td1"><%= agent.AgtFirstName %></td>
        <td  class="td1"><%= agent.AgtLastName %></td>
        <td  class="td1"><%= agent.AgtEmail %></td>
        <td class="td1"><%= agent.AgtBusPhone %></td>
    </tr>   
    <% }) %>
    
    
</table>
</body>