<!-- written by Owen Pringle -->

<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to Travel Experts</title>
        <link rel="stylesheet" href="indexStyle.css" />
        <link rel="stylesheet" href="templateStyle.css" />

    </head>

    <body>
        <!-- header at top of page -->
        <%- include('./partials/header'); %>


        <div id="content">
            <!-- body paragraph-->
            <p class="bodyParagraph"> Welcome to Travel Experts! We cover all of your travel needs 
                    with just a few clicks! If you'd like to get in touch with one of our skilled
                    agents you can contact them <a href="contact">here</a> </p>
            <p>
            <!-- images with 'descriptions' -->
            <div class="imgContainer">
                <img class="travelImage" src="polynesian_beach">
                <p class="imgDescription"> Relax in the hot polynesian sun</p>
            </div>
            <div class="imgContainer">
                <p class="imgDescription"> Walk the ancient streets of paris</p>
                <img  class="travelImage" src="euro_paris_streets">
            </div>
            <div class="imgContainer">
                <img class="travelImage" src="euro_austrian_village">
                <p class="imgDescription"> Discover a charming village in the mountains</p>
            </div>
            <div class="imgContainer">               
                 <p class="imgDescription"> Explore the unknown</p>
                <img class="travelImage" src="asian_zhangjiajie_mountains">
            </div>
            <!-- directs the customer to the vacation packages page or to register -->
            <div>
                <p style="text-align:center" class="bodyParagraph"> 
                    You're just a few clicks away from travelling with us! 
                    <br/>
                    <a  href="register"> Register here</a>
                    <a  href="packages"> Vacation Packages </a>
                </p>
                
            </div>
        </div>
        <!-- footer at bottom of page -->
        <%- include('./partials/footer.ejs'); %>
    </body>
</html>