<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Experts - Travel Packages</title>
    <style>
        .package {
            width: 48%;
            float: left;
            border: 1px solid #cccccc;
            border-radius: 10px;
            margin: 5px;
        }

        .package img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .package h2, .package p {
            margin: 5px;
        }
        .package input {
            float: right;
        }
    </style>
</head>
<body>
    <h1>Travel Packages</h1>
    <div class="package">
        <img src="caribbean_new_year.jpg" alt="Caribbean New Year" />
        <h2>Caribbean New Year</h2>
        <p>Cruise the Caribbean &amp; Celebrate the New Year.</p>
        <p>$4,800.00 <input type="button" value="Book Now" /></p>
    </div>
    <div class="package">
        <img src="polynesian_paradise.jpg" alt="Polynesian Paradise" />
        <h2>Polynesian Paradise</h2>
        <p>8 Day All Inclusive Hawaiian Vacation</p>
        <p>$3,000.00 <input type="button" value="Book Now" /></p>
    </div>
    <div class="package">
        <img src="asian_expedition.jpg" alt="Asian Expedition" />
        <h2>Asian Expedition</h2>
        <p>Airfaire, Hotel and Eco Tour.</p>
        <p>$2,800.00 <input type="button" value="Book Now" /></p>
    </div>
    <div class="package">
        <img src="european_vacation.jpg" alt="European Vacation" />
        <h2>European Vacation</h2>
        <p>Euro Tour with Rail Pass and Travel Insurance</p>
        <p>$3,000.00 <input type="button" value="Book Now" /></p>
    </div>
</body>
</html>