<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link rel="stylesheet" href="../indexStyle.css" />
    <link rel="stylesheet" href="../templateStyle.css" />
</head>
<body>
    <%- include('./partials/header'); %>    
    <div style="padding: 30px; margin-top: 10vh;">
        <h1 style="color:black"><%= message %></h1>
    </div>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>