
#header {
    position: fixed;
    top:0;
    left:0px;
    width:100%;
    background-color: #274D69;
    min-height:fit-content;
}
#brandHeader {
    width:100%;
    min-height:max-content;
    height:10vh;
    float:left;
    display:block;
}
#navigationBar{
    float:left;
    display:block;
    padding-left: 3vw;
}
#content {
    padding: 20px;
    margin-top: 10vh;
}
#footer {
    float:left;
    width:100vw;
    background-color: #274D69;
    min-height:fit-content;
}
.bodyParagraph {
    font-size: x-large;
}
div.imgContainer {
    display:flex;
    vertical-align: middle; 
        text-align:center;
}
img.travelImage {
    width:50vw;
    margin:5px;
    float:left;
    text-align:center;
}
p.imgDescription {
    float:left;
    width:47%;
    
    margin-top:6.5%;
    font-size:22pt;
}
a.navItem {
    background-color: #A61C3C;
    border:1px groove black;
    color:#BCABAE;
    padding:5px;
    width:30vw;
    float: left;
    text-align:center;
}
a.navItem:hover {
    background-color:#df5273;
}
p.smallText {
    margin:0;
    color:#FBFBFB;
}
html {
    background-color:#FBFBFB;
    color:#274D69;
}
h1, h2, h3, h4, h5, h6 {
    color:#BCABAE;
}