/*
    *** written by Owen Pringle ***
*/

/* site header div that is fixed at the top of the page */
#header {
    position: fixed;
    top:0;
    left:0px;
    width:125vw;
    background-color: #316387;
    min-height:fit-content;
    z-index:1;
}

/* refers to the div that contains the logo and name */
#brandHeader {
    width:100%;
    min-height:max-content;
    height:10vh;
    float:left;
    display:flex;
    align-items:center;
}
/* refers to the div that contains all the links to other pages */
#navigationBar{
    float:left;
    display:block;
}

#footer {
    float:left;
    width:100vw;
    background-color: #316387;
    min-height:fit-content;
}

/* refers to the individual links in #navigationBar */
a.navItem {
    background-color: #316387;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:2px groove black;
    color:#cfcfcf;
    padding:5px;
    width:24vw;
    float: left;
    text-align:center;
    font-family: 'Roboto', sans-serif;

    text-decoration: none;
}
a.navItem:hover {
    background-color:rgb(82, 162, 223);

}
.headerLogo {
    height:12vh;
}
.headerLogo:hover {
    height:13vh;
}
.h {
    font-family: 'Roboto', sans-serif; 
    color:#ffffff;


}

/* for the small text on the left side of the footer */
p {
    font-size: small;
    font-family: 'Roboto', sans-serif; 

}
p.smallText {
    margin:0;
    color:#FBFBFB;
}