#header {
    position: fixed;
    top:0;
    left:0px;
    width:125vw;
    background-color: #316387;
    min-height:fit-content;
}
#brandHeader {
    width:100%;
    min-height:max-content;
    height:10vh;
    float:left;
    display:flex;
    align-items:center;
}
#navigationBar{
    float:left;
    display:block;
}
a.navItem {
    background-color: #316387;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:2px groove black;
    color:#cfcfcf;
    padding:5px;
    width:24vw;
    float: left;
    text-align:center;
    text-decoration: none;
}
a.navItem:hover {
    background-color:#df5273;
}
h1, h2, h3, h4, h5, h6 {
    color:#ffffff;
}
p {
    font-size: small;
}